<div class="form-container">
  <%= form_with url: search_path, method: :get, class: "search-form" do |form| %>
    <%= form.text_field :query, placeholder: "Enter a book title or author...", class: "search-input" %>
    <%= form.submit "Search", class: "search-button"%>
  <% end %>
</div>
<div class="search-results">
  <% if @books_data %>
    <% @books_data.each do |book| %>
      <%= render partial: "search_book", locals: {book: book, layout: "search"} %>
    <% end %>
  <% end %>
</div>
