.footer {
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;

  // TODO: refactor footer/header content container with max width
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    // margin: 0 auto;
    padding: 1rem 2.5rem 2rem;

    @include respond-to('tabletAndUp') {
      grid-template-columns: 1fr auto;
      padding: 1rem 2.5rem;
      text-align: left; // Align content left on larger screens
    }

    @include respond-to('desktopAndUp') {
      max-width: 90rem; // 1440px
      margin: 0 auto; // works with max-width to center content
    }
  }

  &__copyright {
    grid-row: 2;

    @include respond-to('tabletAndUp') {
      grid-row: auto;
    }
  }

  &__nav {
    grid-row: 1;

    @include respond-to('tabletAndUp') {
      grid-row: auto;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }

  // TODO: Possibly set global link style and use mixing here or custom class
  &__links a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
