.header {
  // TODO: move color to a global variable
  background-color: #f5f5f5;

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
    padding: 1rem;

    transition: background-color 0.3s ease-in-out;

    @include respond-to('tabletAndUp') {
      grid-template-columns: repeat(12, 1fr); // 12 equal columns
      padding: 1.5rem 2.5rem;
    }

    @include respond-to('desktopAndUp') {
      max-width: 90rem; // 1440px
      margin: 0 auto; // works with max-width to center content
    }
  }

  /* Modifier to change background color when menu is open */
  &--menu-open {
    background-color: black;
  }

  &__logo {
    @include respond-to('tabletAndUp') {
      grid-column: 5 / span 4;
      justify-self: center;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;

    @include respond-to('tabletAndUp') {
      grid-column: 9 / span 4;
      justify-self: end;
      gap: 1rem;
    }
  }

  &__search {
    display: none; // Hide search on mobile

    @include respond-to('tabletAndUp') {
      display: block;
    }
  }

  // &__menu {
  // }

  &__icon {
    height: 48px;
    vertical-align: middle;
  }
}
