<div class="home-wrapper">
  <section class="home-section">
    <div class="reading-goal">
      <h2>Reading goal block will go there...</h2>
    </div>
  </section>
  <section class="home-section">
    <div class="status-shelves">
      <% @books_by_status.each do |status, user_books| %>
        <div class="status-shelf">
          <div class="status-shelf__header">
            <h2 class="status-shelf__title"><%= group_label_for(status) %></h2>
            <div class="status-shelf__meta">
              <span class="status-shelf__count"><%= pluralize(user_books.count, 'book') %></span>
              <span>|</span>
              <%= link_to "View All", user_books_path(status: status), class: "status-shelf__view-all" %>
            </div>
          </div>
          <div class="status-shelf__books">
            <% user_books.each do |user_book| %>
              <%= image_tag "no_cover" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <section class="home-section">
    <!-- Custom shelves -->
    <div class="custom-shelves">
      <h2>Custom shelves section will go there...</h2>
    </div>
  </section>
</div>