<div class="book-card">
  <div class="book-card__cover"> <!-- Cover -->
    <%= image_tag "no_cover" %>
  </div>
  <div class="book-card__title"> <!-- Title and Author -->
    <h2>The Dutch House</h2>
    <p>by Ann Patchett</p>
  </div>
  <div class="book-card__info"> <!-- Info Content -->
    <div>Rating: ★★★★☆</div>
    <div>Genres: Fiction, Historical</div>
    <div>Bookshelves: Finished Reading</div>
    <p>Note: This is an amazing book!</p>
  </div>
  <div class="book-card__controls"> <!-- Controls -->
    <button>Finished Reading</button>
    <button>View Review</button>
  </div>
</div>