<div class="user-books-page">
  <!-- Breadcrumb -->
  <nav class="user-books-page__breadcrumb">
    <a href="/">Home</a> / My Books
  </nav>
  <!-- my books header -->
  <header class="user-books-page__header">
    <h1>My Books</h1>
    <div> books image goes here </div>
  </header>
  <!-- Filters and Sorting Controls -->
  <section class="user-books-page__controls">
    <button>Filter</button> <!-- Toggle for mobile -->
    <button>Search</button>
    <button>List</button>
    <button>Grid</button>
    <div>Date Filter</div>
    <div>Sort By</div>
  </section>
  <!-- Main Content Wrapper for Sidebar and Book Items -->
  <div class="user-books-page__content">
    <aside class="user-books-page__sidebar">
      <h2>Your Shelves</h2>
      <ul class="">
        <li><input type="checkbox"> Show all (104)</li>
        <li><input type="checkbox"> Currently reading (2)</li>
        <li><input type="checkbox"> Want to read (14)</li>
      </ul>
      <button class="">Add new shelf</button>
    </aside>
    <!-- Main Book List Section -->
    <section class="user-books-page__book-list">
      <% 4.times do %>
        <div class="user-book user-book-card">
          <%= render partial: "user_book" %>
        </div>
      <% end %>
    </section>
  </div>
</div>
