<div class="content">
  <div class="sidebar">
    <p>Filters go here</p>
  </div>
  <div class="main-content">
    <div class="book-list">
      <%= render partial: 'book', collection: @user_books, as: :user_book %>
    </div>
  </div>
</div>