.home-wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}

.reading-goal {
  min-height: 200px;
  background-color: lightcoral;
}

.custom-shelves {
  min-height: 200px;
  background-color: burlywood;
}

.status-shelves {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}

.heading {
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  width: 100%;
  justify-content: start;

  &__title {
    font-weight: bold;
    color: #379158;
  }

  &__meta {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  &__count {
    font-weight: bold;
  }

  &__view-all {
    text-decoration: none;
    font-size: 0.9rem;
  }

  @include respond-to('tabletAndUp') {
    grid-template-columns: 1fr auto;
  }
}

.home-wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}
.home-section {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}

.status-shelf {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 15px;
  justify-content: start;

  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;

  &__book {
    display: flex;
    align-items: top;
  }

  &__book-cover {
    height: 180px;
    max-width: auto;
    object-fit: contain;
  }
}
