.header-container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;

  .logo-img {
    height: 20px;
  }

  .nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
  }

  .nav-item {
    margin-right: 2rem;
  }

  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .header-icons {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-left: 1rem;
  }

  .icon-link {
    display: inline-block;
  }
}

// TODO: hiding elements working only when using ids
#mobile-only-link {
  display: none;
}

#nav-home-link {
  display: none;
}

/* Responsive styles */
@media (max-width: 480px) {
  .header-container {
    .nav-list {
      display: none; /* Hide the nav list on smaller screens */
    }
  }

  #mobile-only-link {
    display: block;
  }
}

@media (min-width: 681px) {
  #nav-home-link {
    display: block;
  }
}
