<footer class="footer">
  <div class="footer__content">
    <p class="footer__copyright">2024 ©Bookscape</p>
    <nav class="footer__nav">
      <ul class="footer__links">
        <li><a href="#">About</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>
</footer>
